@import url("fonts/stylesheet.css");
body {
    font-size: 100%;
    line-height: 1.2em;
    max-width: 90%;
    margin: auto;
    background-image: url("img/subtle_white_feathers.png");
    background-repeat: repeat;
    font-family: "Linux Libertine O", "Georgia", "Verdana", serif;
}
header h1 {
    text-align: center;
    padding: 25%;
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Castellar", "Verdana", serif;
    background-image: url("img/header.jpg");
    background-position: 50% 50%;
}
nav {
    margin: 0;
    background-color: black;
    color: white;
    width: 100%;
    font-family: "Courier Prime", "Courier New", monospace;
}
nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    padding: 1em;
    display: inline;
}
a {
    text-decoration: none;
}
nav a:link {
    color: white;
    text-transform: lowercase;
}
nav a:visited {
    color: white;
    text-transform: lowercase;
}
nav a:hover {
    text-transform: uppercase;
}
nav a:active {
    color: red;
    text-transform: uppercase;
    height: 100%;
}
article h1, article .title {
    font-style: italic;
    font-size: 1.4em;
    text-align: center;
    text-transform: lowercase;
    padding: 0;
    margin: auto;
}
article h2 {
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
}
article h2:before {
    content: "[ "
}
article h2:after {
    content: " ]"
}
article {
    border-bottom: 1px solid black;
    padding: 1em;
    max-width: 39em;
    margin: 0 auto 0 auto;
}
article::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
footer {
    max-width: 39em;
    font-size: 0.5em;
    margin: auto;
}
ol, ul { margin-bottom: 0; }
li {
    list-style: none;
    text-indent: 0.5em;
}
img {
    display: block;
    max-width: 100%;
}
.adage {
    background-image: url("img/stardust.png");
    background-repeat: repeat;
    color: #ff4;
}
.adage li {
    list-style: circle url("img/bullet.png") inside;
    margin: 0.5em;
}
.manifesto {
    font-family: "Comic Neue", "Comic Sans", Georgia, sans-serif;
    background-image: url("img/chruch.png");
    background-repeat: repeat;
}
.whisper {
    text-transform: lowercase;
    font-style: italic;
    font-size: 0.8em;
    color: #444;
    display: inline;
}
.whisper::before {
    content: "( "
}
.whisper::after {
    content: " )"
}
.floater {
    float: left;
    margin-right: 1em;
    max-width: 25%;
}
.redacted {
    font-family:
        "Redacted Script",
        "Redacted",
        'redacted_scriptbold',
        'Webdings',
        'Wingdings',
        'Symbol',
        monospace;
}
.lp {
    color: #900725;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.redacted .lp {
    letter-spacing: normal;
}
.verse .line {
    display: block;
    margin: 0;
    text-indent: -0.5em;
    margin-left: 0.5em;
}
